.responsiveContainer {
	max-width: 80%;

	@media (max-width: $mantine-breakpoint-xl) {
		max-width: 85%;
	}

	@media (max-width: $mantine-breakpoint-lg) {
		max-width: 90%;
	}

	@media (max-width: $mantine-breakpoint-md) {
		max-width: 95%;
	}
}
