##################################################################################################### 
# ******************************* TABLE OF CONTENTS ************************************************* 
#####################################################################################################
# - FRONTEND 
# - MAP 
# - API 
# - CDN 
# - DIRECTUS 
# - DB 
# - KEYCLOAK 


NEXTAUTH_SECRET= 



############################################################################################ 
# ************************************ frontend ******************************************** 
############################################################################################ 
FRONTEND_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_FRONTEND_URL= 



####################################################################################### 
# ************************************** map ****************************************** 
####################################################################################### 
NEXT_PUBLIC_MAP_STYLE_URL= 



####################################################################################### 
# ************************************** api ****************************************** 
####################################################################################### 
NEXT_PUBLIC_API_URL= 



####################################################################################### 
# ************************************** cdn ****************************************** 
####################################################################################### 
NEXT_PUBLIC_CDN_URL= 



############################################################################################ 
# ************************************ directus ******************************************** 
############################################################################################ 
CMS_URL= 



###################################################################################### 
# *************************************** db ***************************************** 
###################################################################################### 
DATABASE_URL= 



############################################################################################ 
# ************************************ keycloak ******************************************** 
############################################################################################ 
KEYCLOAK_SECRET=
NEXT_PUBLIC_KEYCLOAK_ID=
NEXT_PUBLIC_KEYCLOAK_URL= 

