##################################################################################################### 
# ******************************* TABLE OF CONTENTS ************************************************* 
#####################################################################################################
# - DB 
# - KEYCLOAK 
# - MAP 
# - DISCORD 
# - FRONTEND 
# - DASHBOARD 




###################################################################################### 
# *************************************** db ***************************************** 
###################################################################################### 
DATABASE_URL= 



############################################################################################ 
# ************************************ keycloak ******************************************** 
############################################################################################ 
KEYCLOAK_SECRET=
NEXT_PUBLIC_KEYCLOAK_ID=
NEXT_PUBLIC_KEYCLOAK_URL= 



####################################################################################### 
# ************************************** map ****************************************** 
####################################################################################### 
NEXT_PUBLIC_MAPBOX_TOKEN= 



########################################################################################### 
# ************************************ discord ******************************************** 
########################################################################################### 
REPORTS_WEBHOOK= 



############################################################################################ 
# ************************************ frontend ******************************************** 
############################################################################################ 
FRONTEND_KEY=
NEXT_PUBLIC_FRONTEND_URL= 



############################################################################################# 
# *********************************** dashboard ********************************************* 
############################################################################################# 
NEXTAUTH_SECRET=
NEXTAUTH_URL= 

